body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #403B35;
  background-color: white;
}

#content img {
  width: 100%;
}

#content {
  margin: auto;
}

.blog img {
  max-width: 150px;
}

h1,h2,h3 a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
}

h2, h3 {
  font-size: 26px;
  margin-top: px;
  margin-bottom: 10px;
}

a {
  color: #3f52a0;
  text-decoration: none;
}

a:hover {
  color: #3f52a0;
  text-decoration: underline;
}

.container {
  width: 90%;
  margin-top: 40px;
}

.post-list h3 {
  color: red
}

.date {
  font-size: 14px;
  color: #111;
  text-transform: uppercase;
}


.footer {
  margin-top: 20px;
}

h2 {

}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
  margin-bottom: 0px;
}

blockquote p {
  font-size: .95em;
  border-left: 2px solid green;
  padding-left: 10px;
}

textarea {
  display: none;
}

.burnout textarea {
  width: 100%;
  height: 250px;
  display: block !important;
}

.easter-egg {
  color: white;
  display: none;
}

.upper-right {
  position: fixed;
  right:0;
  top:0;
  font-size: 0px;
}

.upper-right img {
  width: 20px;
}

.link {
  stroke: #3A505C;
}

#graph {
  min-width: 300px;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  fill: #3A505C;
  font-size: 14px;
}

code {
  background-color: #111;
}

.burnout .easter-egg {
  display: block;
}


/* Mobile first queries */

.mobile-only {
  display: block;
}
.hidden-mobile {
  display: none;
}

.box {
  margin-bottom: 20px;
  text-transform: lowercase;
  font-weight: bold;
  color: #3f52a0;
}

.post-list {
  background-color: white;
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
}

.post-list-top {
  border-style: solid;
  color: #111;
  border-width: 1px;
  border-color: #3f52a0;
  z-index: 2;
  background-color: white;
  padding: 10px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); 
  transform-style: preserve-3d;

  transition-property: all;
  transition-property: transform;
  transition-duration: .4s;
}

.post-list-bottom {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #3f52a0;
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.post-list-top:hover {
  cursor: pointer;
  background-color: #eee;
  transform: translate3d(10px, 10px, 10px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;
}

.post-content {
  padding: 0px 40px 40px 0px;
  margin-bottom: 60px;
}

.five.columns.project {
  width: 45%;
}

/* Larger than mobile */
@media (min-width: 400px) {

  .projects .section {
    display: block;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {

.projects .section {
  row-gap: 10px;
  display: grid;
  grid-template-columns: 200px 300px ;
}

}

/* Larger than tablet */
@media (min-width: 750px) {
  .mobile-only {
    display: none !important;
  }
  .hidden-mobile {
    display: block !important;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .nav-collapse li {
    width: auto;
    float: left;
  }
}
