#content img {
  width: 100%;
}

#content {
  margin: auto;
}

.blog img {
  max-width: 150px;
}

h1,h2 a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
}

h2, h3 {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: #123D26;
}

.container {
  width: 90%;
  margin-top: 40px;
}

.post-list h2 {
  border-bottom: 1px solid;
}

.date {
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
}

.footer {
  margin-top: 20px;
}

h2 {

}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
  margin-bottom: 0px;
}

blockquote p {
  font-size: .95em;
  border-left: 2px solid green;
  padding-left: 10px;
}

body {
  font-weight: 300;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 18px;
  color: #404040;
  background-color: white;
}

textarea {
  display: none;
}

.burnout textarea {
  width: 100%;
  height: 250px;
  background-color: black;
  display: block !important;
}

.easter-egg {
  color: white;
  display: none;
}

.upper-right {
  position: fixed;
  right:0;
  top:0;
  font-size: 0px;
}

.upper-right img {
  width: 20px;
}

.link {
  stroke: #999;
}

#graph {
  min-width: 300px;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
  fill: #404040;
  font-size: 14px;
  font-family: monospace;
}

code {
  background-color: white;
}

.burnout .easter-egg {
  display: block;
}

.burnout, .burnout .box {
  background-color: black !important;
  color: green !imporant;
  font-family: monospace;
  font-size: 14px;
}

.centered {
  text-align: center;
}

/* Mobile first queries */

.mobile-only {
  display: block;
}
.hidden-mobile {
  display: none;
}

.box {
  padding-left: 10px;
  margin: 10px;
  border-left: 1px solid #404040;
  background-color: white;
}

.post-content {
  padding: 0px 40px 40px 0px;
  margin-bottom: 60px;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .mobile-only {
    display: none !important;
  }
  .hidden-mobile {
    display: block !important;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .nav-collapse li {
    width: auto;
    float: left;
  }
}
