<div class="row">
  <div class="ten columns">
    <p>
    <img src="/images/photo.jpg" />
    </p>
    <p>
    <b>Karissa McKelvey</b> is a technology strategist and <a href="http://github.com/karissa">software
      engineer</a>. She is a generalist who "connects the dots" between
    emerging technologies to build initiatives that center the public interest.
    She helps non-profit organizations, companies, and small projects reach
    better outcomes for universal access, security, privacy, inclusion, and
    equity. Karissa's work has been featured in high-profile news outlets such
    as the New York Times, Wall Street Journal, and NPR.  
    </p>

    <p>She is an expert on cooperative and sustainable practices in open
    source. In 2016, she co-founded <a href="https://codeforsociety.org">Code
    for Science and Society</a> to systemize positive outcomes across
    the ecosystem of open source public interest technology. As the <a
    href="https://dat.foundation">Director of the Dat Foundation</a>, she
    works with diverse sets of stakeholders who aim to build a better Web that
    values digital rights. 
    </p>

    <p> 
    It's clear that technological solutions on their own are <i>not enough</i>
    to move the global Web in an ethical direction. To this end, she is currently
    a fellow at the <a href="https://www.aspentechpolicyhub.org/">Aspen
    Institute's Tech Policy Hub</a>, where she is growing her skills to
    advocate for digital human rights around the globe.  
    </p>
  </div>
</div>
