<div class="row">
  <div class="four columns">
    <div style="width:200px;">
      <img width="200" src="http://en.gravatar.com/userimage/11688277/f1a095b5d528f065bd6e5389ef9ab7d3.jpg?size=200" />
    </div>
  </div>
  <div class="six columns">
    <p>
      Karissa McKelvey is a software developer, writer, inventor, and activist supporting an equitable web. Formerly a research scientist at Indiana University, her work studying online political communication resulted in multiple peer-reviewed papers and press in outlets such as NPR and the Wall Street Journal. In addition to an experienced software and web developer, she has successfully led teams to success with diverse projects throughout her career in academia, non-profits, and industry. In her spare time, she teaches beginning programmers, volunteers her time in social movements, and plays the trumpet.
    </p>
  </div>
</div>
