<div class="row">
  <div class="ten columns">
    <p>
    <img src="/images/photo.jpg" />
    </p>
    <p>
    <b>Karissa McKelvey</b> is a product and <a
         href="http://github.com/okdistribute">engineering professional</a> whose work has been depended upon by at-risk users including journalists, human rights defenders, and civil society activists living within repressive environments who wish to speak freely online.  With her background in political science and engineering,  Karissa has delivered public-centered initiatives for open source projects, non-profit organizations, and startups that leverage emerging technologies. Karissa's perspectives and work has been featured in high-profile news outlets such as the New York Times, Wall Street Journal, and NPR.
    </p>

    <p>She is an expert on cooperative and sustainable practices in open
    source. In 2016, she co-founded <a href="https://codeforsociety.org">Code
    for Science and Society</a> to systemize positive outcomes across
    the ecosystem of open source public interest technology. As a <a
    href="https://dat.foundation">Founding Member of the Dat Foundation</a>, she helps
    govern the open source project in coordination with various working groups and partner organizations.
    She thrives when building applications that re-imagine and re-engineer the Internet
    to create value-centric technologies that protect the digital rights of their users.
    </p>

    <p>
    It's clear that technological solutions on their own are <i>not enough</i>
    to move the global digital ecosystem in an ethical direction. To this end, she was 
    a fellow at the <a href="https://www.aspentechpolicyhub.org/">Aspen
    Institute's Tech Policy Hub</a>, where she grew her policy skills to
    advocate for ethical technology practice & regulation by government.
    </p>
  </div>
</div>
