<div class="row">
  <h2>Stalk Me</h2>
  <p>Above this text, you'll see a force-layout network diagram of my online identities. Anyone can find these in the public domain through digital trace data such as a Google search of my name, my Facebook profile, and my Twitter activity.</p>
  <p>Each <em>node</em> (icon and a name), represents an identity referenced on a website. Each <em>edge</em> (line between nodes) represents how two identities are related to eachother. You can draw an edge between two nodes when one node references another. For example, on Twitter, I retweet and mention the <a href="http://debtcollective.org">Debt Collective</a>. So, those two gain an edge between them.</p>
  <p>Anyone can trace the lines from a single point to relate multiple identities to eachother, and ultimately, to my real-world identity. This is how metadata supports the surveillance of my real-world and online activity.</p>
  <p>Feel free to click and drag a node in the graph to explore and uncover the connections.</p>
</div>
