<div class="nine columns">
  <div class="post-content">
    <div class="row">
      <span class="date">{{usefulDate post.date}} by <a href="http://twitter.com/captainkmac">Karissa McKelvey</a> </span>
      <h1>{{post.title}}</h1>
      <div>{{markdown post.text}}</div>
    </div>

    <div class="row">
      <div id="disqus_thread"></div>
    </div>
  </div>
  <h5>Recent Posts</h5>
  <br>
  <div class="row post-list">
    {{#each posts}}
    <div class="box">
      <span class="date">{{usefulDate date}}</span>
      <h5><a href="/post/{{id}}">{{title}}</a></h5>
    </div>
    {{/each}}
  </div>
</div>

<div class="three columns">
  <div class="box">
    <h4>Welcome</h4>
    <p>Lorium ipsum hello dude what. Is your next big plan?</p>
  </div>
    <div class="footer">
      <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432142137799&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=o_Orissa&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 219px; height: 20px;"></iframe>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
    </div>
</div>
